#ShowBigImgDiv
{
    position: absolute;
    z-index: 10001;
    display: none;
    cursor: pointer;
}
#FullScreenDiv
{
    position: absolute;
    z-index: 10000;
    display: none;
    background-color: #FFFFFF;
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: pointer;
}

.ShowAndHide
{
    width: 130px;
    height: 160px;
}
