body {
    font-family:Helvetica;
    font-size: 36px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.blog_index {
    padding: 0;
    line-height: 150%;
    border: 1px solid LightGrey;
}

.blog_post {
    padding: 0;
    margin: 2% 4%;
    line-height: 150%;
}

.blog_title h1 {
}

h1 {
    font-size: 1.4em;
    margin:0;
    padding: 1% 3%;
    border-bottom: 1px LightGrey solid;
    line-height: 150%;
    color: DarkRed;
}

h2 {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    color: DarkGreen;
}


h3 {
    /*
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    */
    font-size: 1.2em;
    margin:0;
    /*
    margin-top: 40px;
    margin-bottom: 30px;
    width: 80%;
    */
    line-height: 150%;
    color: DarkBlue;
}


li {
    margin-left: 5px;
}


blockquote {
    border-left: 4px lightgrey solid;
    padding-left: 5px;
    margin-left: 20px;
}
code {
    font-size: 13px;
    line-height:13px;
    padding: 3px;
    margin: 0 2px;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    border-radius: 3px;
    white-space:pre;
}
pre code{
    background:none;
    padding:0;
    margin:0;
    border:0;
    border-radius:0;
}
pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}
a {
    text-decoration: none;
    border-bottom: 1px solid rgb(6, 7, 18);
    padding: 1px;
    color: black;
}

img {
    width:100%;
}


a:hover {
	background-color: LightGrey;
}




hr {
    color: LightGrey;
}

.post_list div {
    /*
    padding: 5px 5px 5px 20px;
    */
    margin: 0;
    padding: 0;
}

.post_list_item {
    display: block;
    padding: 8px 30px 10px 30px;

    text-decoration: none;
    border-bottom: 1px solid #ddd;
    color: #005;
}
.post_list_item_hot {
    color: #97190E;
}


ol {
    padding: 5px 5px 5px 30px;
}

#footer {border-top:1px solid #fff; font-size:0.8em; padding-bottom:1em; padding-top:1em; color:#292f34; text-shadow:1px 1px #adafb1;}
#footer a {
color:#292f34;
border-bottom: 0px;
}
#footer p {text-align:center; margin-bottom:0; font-size:1em;}

#forkmeongithub img {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

#logo {
    display: inline-block;
    float: right;
    margin: 1% 1%;
    border: 0;
    padding: 0;
}

#logo a {
    display: inline-block;
    z-index: 5;
    margin: 0;
    border: 0;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
}

.thumbnail {
    width: 160px;
    height: 130px;
}

.post_date {
    text-align:right;
    margin: 0;
}


nav {
	height:2em;
    margin:0;
    padding:0;
    /*
	margin:20px 0;
	padding:10px 0px 0px 0px;
    */
	/*background-image:url('http://7viirv.com1.z0.glb.clouddn.com/nav_starry_sky.jpg');*/
	border-radius:8px;
}
nav ul {
	height:100%;
	margin:0;
	padding:0;
	list-style:none;
}
nav li {
    float:left;
	width:25%;
	padding:4px 0;
	margin:0;
	text-align:center;
    border-radius: 10px;
	background-color: rgb(223, 223, 211);
	border:0.5% solid #CCC;
    cursor: pointer;
}
nav li:hover{
	background-color:#CCC;
}
nav li a{
   font:  bold 13px Arial, Helvetica, sans-serif;
   margin:0;
   padding:0;
   text-decoration:none;
   border:0px;
   color:rgba(77, 63, 68, 0.9);
 }
nav a:hover{
   background:none;
}

@media screen and (min-width:1024px) {
    body {
        font-family:STFangSong, FangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
        font-size: 20px;
        width: 60%;
    }
}

/*
@media(min-device-width:375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) {
    body {
        font-size: 17px;
    };
}

@media(min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) {
    body {
        font-size: 25px;
    };
}
*/
