---
layout: default
title: 博文
---

<div>
    <h1>博文</h1>
    <div class="post_list">
        {% for post in site.posts %}{% if post.stick == "yes" %}
            <a class="post_list_item post_list_item_hot" href="{{ post.url }}">
                {{ post.date | date_to_string }}
                &raquo; 
                {{ post.title }}
            </a>
        {% endif %}{% endfor %}
        {% for post in site.posts %}{% if post.stick != "yes" %}
                {% if post.display == "onlydetail" %}
                {% elsif post.hot == "yes" %}
                <a class="post_list_item post_list_item_hot" href="{{ post.url }}">
                    {{ post.date | date_to_string }}
                    &raquo; 
                    {{ post.title }}
                </a>
                {% else %}
                <a class="post_list_item" href="{{ post.url }}">
                    {{ post.date | date_to_string }}
                    &raquo; 
                    {{ post.title }}
                </a>
                {% endif %}
        {% endif %}{% endfor %}
    </div>
</div>

