<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property="wb:webmaster" content="f97b0cc1aaecb801" />

        <!-- 百度站内搜索 -->
        <meta name="baidu-site-verification" content="VYH77GDc5e" />
        <!-- 百度站内搜索 -->

        <title>{{ page.title }}</title>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
        <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />-->

        <link rel="stylesheet" href="/css/pygments.css">
        <link rel="stylesheet" href="/css/style.css">

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-49284793-2', 'yanyiwu.com');
          ga('send', 'pageview');

        </script>

        <!-- picture -->
        <script type="text/javascript" src="/js/pic.js"> </script>

        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>

    </head>
    <body>
        <nav>
            <ul>
                <li onclick="location.href='/'">HOME</li>
                <li onclick="location.href='/moment.html'">MOMENT</li>
                <li onclick="location.href='/cooking-in-life.html'">COOKING</li>
                <li onclick="location.href='/about.html'">ABOUT ME</li>
            </ul>
        </nav> 
        <div id="blog_index">
            <div id="logo">
                <!--
                <a><script type="text/javascript">document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://znsv.baidu.com/customer_search/api/js?sid=5066617273713835853') + '&plate_url=' + (encodeURIComponent(window.location.href)) + '&t=' + (Math.ceil(new Date()/3600000)) + unescape('"%3E%3C/script%3E'));</script></a>
                -->
                <a href="/rss.xml">
                    <img src="/img/rss_logo.jpg"/>
                </a>
                <a href="http://www.zhihu.com/people/bu-shi-wo-gan-de-17">
                    <img src="/img/zhihu_logo.jpg" />
                </a>
                <!--
                <a href="https://twitter.com/wuyanyi09">
                    <img src="/img/twitter_logo.jpg"/>
                </a>
                <a href="Mailto:i@yanyiwu.com">
                    <img src="/img/mail_logo.jpg"/>
                </a>
                <a href="http://7viirv.com1.z0.glb.clouddn.com/596f902498_yanyiwu_public_qrcodes.jpg">
                    <img src="/favicon.ico"/>
                </a>
                -->
                <a href="http://7viirv.com1.z0.glb.clouddn.com/5a7d1b5c0d_yanyiwu_personal_qrcodes.jpg">
                    <img src="/img/wechat_logo.jpg"/>
                </a>
                <a href="http://weibo.com/buptwyy">
                    <img src="/img/weibo_logo.jpg"/>
                </a>
                <a href="https://github.com/yanyiwu">
                    <img src="/img/github_logo.jpg"/>
                </a>
            </div>
            <div>
                {{content}}
            </div>
        <!--kaiyi i love u so much-->
        <footer id="footer">
        <p>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253065108'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253065108' type='text/javascript'%3E%3C/script%3E"));</script>
        <a href="http://www.miitbeian.gov.cn/">京ICP备14020698号</a>
        </p>
        </footer>
    </body>
</html>
